#landing
  .container.vcenter
    .col-xs-12.vcenter
      img.center-block(src='./imgs/logo.svg', alt='perscan')
      h1.text-center PERSCAN

  .note.text-center
    span IMPORTANTE
    p
      | Esta app sólo simula el escáner facial.
      br
      | No retorna de ninguna forma algún análisis del objeto o persona escaneada.
    strong Es hueveo CTM. 